[Unit]
Description=file-shares webserver
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
ExecStart=/usr/bin/node /home/pi/www/shares.lagr.se/server/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=shares.lagr.se
User=pi
Group=pi
Environment=NODE_ENV=production
Environment=NODE_PORT=4100
Environment=JWT_SECRET=dc644d75-ffee-46ba-9332-ee8cda89eefd
Environment=STATIC_FILES_PATH=/home/pi/www/shares.lagr.se/server/public
Environment=STATS_FILE_PATH=/home/pi/www/file-shares-stats.json

[Install]
WantedBy=multi-user.target
